cvxpy
picos
qutip
pydot
pyzx
qiskit
PennyLane
multiprocess

perceval-quandela

jupyterlab-darkside-theme
jupyterlab-ariakedark-theme
jupyterlab_materialdarker
theme-darcula
jupyterlab_theme_solarized_dark

jupyterlab-vim
jupyterlab-github
